---
import Layout from "../layouts/Layout.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import Portrait from "../components/Portrait.astro";
import Carousel from "../components/Carousel.astro";
import FormDrawer from "../components/FormDrawer.astro";
import "@fontsource/caramel";
---

<style>
  .eyebrow {
    color: var(--primary);
    font-family: "Fivo Sans Medium", sans-serif;
    font-weight: 500;
  }

  #commitment h4 {
    font-family: "Caramel", cursive;
  }

  .portrait {
    left: 4%;
  }

  .icon {
    width: 50px;
    height: 50px;
    border-top-right-radius: 0;
    background-color: var(--primary);
  }

  .icon--residential-home-sales {
    background-image: url("../images/residential-home-sales-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  .icon--residential-investments {
    background-image: url("../images/residential-investments-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  .icon--commercial-sales {
    background-image: url("../images/commercial-sales-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  .icon--commercial-leasing {
    background-image: url("../images/commercial-leasing-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  @media screen and (min-width: 42.5em) {
    .portrait,
    .about-content {
      width: 50%;
    }

    .portrait {
      left: 2.44%;
    }
  }

  /* Fixing skewed snapport scroll on sections */
  /* ABOUT */
  #about {
    scroll-margin-top: 60vh;
  }

  @media screen and (min-width: 45.625em) {
    #about {
      scroll-margin-top: 0;
    }
  }

  /* SPECIALTIES */
  #specialties {
    scroll-margin-top: 105vh;
  }

  @media screen and (min-width: 45.625em) {
    #specialties {
      scroll-margin-top: 0;
    }
  }

  /* PROCESS */
  #process {
    scroll-margin-top: 100vh;
  }

  @media screen and (min-width: 45.625em) {
    #process {
      scroll-margin-top: 0;
    }
  }
</style>

<Layout>
  <!-- Hero Section -->
  <section id="hero" class="ph3 tc mb3">
    <h1 class="f2 f1-ns lh-copy measure-narrow center">
      Discover the finest properties South Florida has to offer with the
      guidance of a lifelong native.
    </h1>

    <p class="f4-ns lh-copy pb4 measure center">
      As a bonafide South Florida native, I'm equipped to help you find your
      dream property in less time.
    </p>

    <div class="w-100 flex justify-center">
      <PrimaryButton ButtonText="Let's Talk" />
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="ph3 pt4 pb5 center br4">
    <div class="mw8 center">
      <div class="cf">
        <div class="portrait relative fl w-100 pr3-m pr3-l">
          <Portrait
            ImageDescription="Kevares Morgan, Real Estate Sales Professional."
          />
        </div>

        <div class="about-content fl w-100 pl3-m pl3-l">
          <div class="mt5">
            <p class="ttu eyebrow tracked">About</p>

            <h2 class="f4 f3-ns lh-title">
              A clever, punchy section intro title.
            </h2>

            <p class="f4-ns lh-copy">
              I'm a paragraph that showcases the subject's <em>education</em>. I
              should be between three and five sentences. And I should be in
              written the the first-person.
            </p>

            <p class="f4-ns lh-copy">
              I'm a paragraph that showcases the subject's <em>experience</em>.
              I should be between three and five sentences. And I should be in
              written the the first-person.
            </p>

            <p class="f4-ns lh-copy">
              I'm a paragraph that showcases the subject's <em>credentials</em>.
              I should be between three and five sentences. And I should be in
              written the the first-person.
            </p>

            <div class="w-100">
              <PrimaryButton ButtonText="Let's Talk" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Specialties Section -->
  <section id="specialties" class="ph3 pv4">
    <div class="mw8 center">
      <p class="ttu eyebrow tracked">Specialties</p>

      <h2 class="f4 f3-ns lh-title">A clever, punchy section intro title.</h2>

      <div class="center">
        <div class="cf">
          <div class="fl w-100 w-50-ns pv2 pr3-ns">
            <div class="icon icon--residential-home-sales br3"></div>

            <h3 class="f5 f4-ns mb2 lh-title">Residential Home Sales</h3>

            <p class="f4-ns lh-copy mt0 measure-narrow-l">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>

          <div class="fl w-100 w-50-ns pv2 pl3-ns">
            <div class="icon icon--residential-investments br3"></div>

            <h3 class="f5 f4-ns mb2 lh-title">Residential Investments</h3>

            <p class="f4-ns lh-copy mt0 measure-narrow-ns">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="cf">
          <div class="fl w-100 w-50-ns pv2 pr3-ns">
            <div class="icon icon--commercial-sales br3"></div>

            <h3 class="f5 f4-ns mb2 lh-title">Commercial Sales</h3>

            <p class="f4-ns lh-copy mt0 measure-narrow-ns">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>
          <div class="fl w-100 w-50-ns pv2 pl3-ns">
            <div class="icon icon--commercial-leasing br3"></div>

            <h3 class="f5 f4-ns mb2 lh-title">Commercial Leasing</h3>

            <p class="f4-ns lh-copy mt0 measure-narrow-ns">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Process Section -->
  <section id="process" class="ph3 pv3 tc">
    <div class="mw8 center mv4">
      <p class="ttu eyebrow tracked">Process</p>
      <h2 class="f4 f3-ns lh-title mb4">
        A clever, punchy section intro title.
      </h2>

      <!-- TODO: Carousel componenet goes here -->
      <div class="carousel-items">
        <Carousel />
      </div>
    </div>
  </section>

  <!-- Commitment Section -->
  <section id="commitment" class="ph3 pv4 mv3">
    <div class="center w-100 h-100 mw6 flex items-center justify-center">
      <div class="ph3">
        <h4 class="f2 f1-ns normal mv0">My Commitment to You</h4>
        <p class="f4-ns lh-copy">
          <em
            >A thoughtful and heartfelt dedication to your clients that lets
            them know you care.</em
          >
          <br /><br />

          &mdash; Kevares
        </p>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="ph3 pv5">
    <div class="mw6 center">
      <p class="ttu eyebrow tracked tc">Contact</p>

      <h2 class="f4 f3-ns lh-title mb3 tc">
        A final call-to-action that resonates with your client's finished story
        benefit.
      </h2>

      <div class="flex justify-center">
        <PrimaryButton ButtonText="Let's Talk" />
      </div>
    </div>
  </section>

  <hr class="mw8 o-40" />

  <FormDrawer />
</Layout>
