---
import Layout from "../layouts/Layout.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import Portrait from "../components/Portrait.astro";
import Carousel from "../components/Carousel.astro";
import "@fontsource/caramel";
---

<style>
  .eyebrow {
    color: var(--primary);
    font-family: "Fivo Sans Medium", sans-serif;
    font-weight: 500;
  }

  .icon {
    border-top-right-radius: 0;
  }

  #commitment h4 {
    font-family: "Caramel", cursive;
  }

  @media screen and (min-width: 37.5em) {
    .portrait,
    .about-content {
      width: 50%;
    }
  }
</style>

<Layout>
  <!-- Hero Section -->
  <section id="hero" class="ph3 tc mb5">
    <h1 class="f3 f2-ns lh-title measure-narrow center">
      A heading so good it makes you want to keep reading.
    </h1>

    <p class="f4-ns lh-copy pv3 measure center">
      I'm a descriptive text that further communicates the who, what, why, and
      how of the product or service.
    </p>

    <PrimaryButton ButtonText="Let's Talk" />
  </section>

  <!-- About Section -->
  <section id="about" class="ph3 pt4 pb5 bg-washed-yellow center br4">
    <div class="mw8 center">
      <div class="cf">
        <div class="portrait fl w-100 pr3-m pr3-l">
          <Portrait
            ImageDescription="Kevares Morgan smiling in a blue-gray business jacket and white dress shirt."
          />
        </div>

        <div class="about-content fl w-100 pl3-m pl3-l">
          <div class="mt5">
            <p class="ttu eyebrow tracked">About</p>

            <h2 class="f4 f3-ns lh-title">
              A clever, punchy section intro title.
            </h2>

            <p class="f4-ns lh-copy">
              I'm a paragraph that showcases the subject's <em>education</em>. I
              should be between three and five sentences. And I should be in
              written the the first-person.
            </p>

            <p class="f4-ns lh-copy">
              I'm a paragraph that showcases the subject's <em>experience</em>.
              I should be between three and five sentences. And I should be in
              written the the first-person.
            </p>

            <p class="f4-ns lh-copy">
              I'm a paragraph that showcases the subject's <em>credentials</em>.
              I should be between three and five sentences. And I should be in
              written the the first-person.
            </p>

            <div class="w-100 flex justify-center">
              <PrimaryButton ButtonText="Let's Talk" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Specialties Section -->
  <section id="specialties" class="ph3 pv4 mb5">
    <div class="mw8 center">
      <p class="ttu eyebrow tracked">Specialties</p>

      <h2 class="f4 f3-ns lh-title mb5">
        A clever, punchy section intro title.
      </h2>

      <div class="center">
        <div class="cf">
          <div class="fl w-100 w-50-ns pv2 pr3-ns">
            <img
              class="icon br3"
              src="https://via.placeholder.com/50x50"
              alt=""
            />

            <h3 class="f5 f4-ns mb2">Residential Home Sales</h3>

            <p class="f4-ns lh-copy mt0">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>

          <div class="fl w-100 w-50-ns pv2 pl3-ns">
            <img
              class="icon br3"
              src="https://via.placeholder.com/50x50"
              alt=""
            />

            <h3 class="f5 f4-ns mb2">Residential Investments</h3>

            <p class="f4-ns lh-copy mt0">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="cf">
          <div class="fl w-100 w-50-ns pv2 pr3-ns">
            <img
              class="icon br3"
              src="https://via.placeholder.com/50x50"
              alt=""
            />

            <h3 class="f5 f4-ns mb2">Commercial Sales</h3>

            <p class="f4-ns lh-copy mt0">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>
          <div class="fl w-100 w-50-ns pv2 pl3-ns">
            <img
              class="icon br3"
              src="https://via.placeholder.com/50x50"
              alt=""
            />

            <h3 class="f5 f4-ns mb2">Commercial Leasing</h3>

            <p class="f4-ns lh-copy mt0">
              I'm a paragraph that describes the specialty. I should be between
              three and five sentences. And I should be in written the the
              first-person.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Process Section -->
  <section id="process" class="ph3 pv4 bg-washed-yellow tc">
    <div class="mw8 center mv4">
      <p class="ttu eyebrow tracked">Process</p>
      <h2 class="f4 f3-ns lh-title mb5">
        A clever, punchy section intro title.
      </h2>

      <Carousel
        ProcessStep="01 Listen"
        StepDescription="I'm a paragraph that describes this step in the process. I should be between three and five sentences. And I should be in written the the first-person."
      />
    </div>
  </section>

  <!-- Commitment Section -->
  <section id="commitment" class="ph3 pv4 mv5">
    <div class="center w-100 h-100 mw6 flex items-center justify-center">
      <div class="ph3">
        <h4 class="f2 f1-ns normal mv0">My Commitment to You</h4>
        <p class="f4-ns lh-copy">
          <em
            >A thoughtful and heartfelt dedication to your clients that lets
            them know you care.</em
          >
          <br /><br />

          &mdash; Kevares
        </p>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="ph3 pv5 bg-washed-yellow">
    <div class="mw6 center">
      <p class="ttu eyebrow tracked tc">Contact</p>

      <h2 class="f4 f3-ns lh-title mb3 tc">
        A final call-to-action that resonates with your client's finished story
        benefit.
      </h2>

      <div class="flex justify-center">
        <PrimaryButton ButtonText="Let's Talk" />
      </div>
    </div>
  </section>
</Layout>
