---
import CarouselArticle from "./CarouselArticle.astro";
import CarouselButtons from "./CarouselButtons.astro";
---

<!-- TODO: Come back to this with a fresh mind tomorrow. -->
<div class="carousel-item flex">
  <!-- Step 1 -->
  <CarouselArticle
    ProcessStep="1. Listen"
    StepDescription="I'm a paragraph that describes this step in the process. I should be between three and five sentences. And I should be in written the the first-person."
  />
</div>

<div class="carousel-item dn">
  <!-- Step 2 -->
  <CarouselArticle
    ProcessStep="2. Search"
    StepDescription="I'm a paragraph that describes this step in the process. I should be between three and five sentences. And I should be in written the the first-person."
  />
</div>

<div class="carousel-item dn">
  <!-- Step 3 -->
  <CarouselArticle
    ProcessStep="3. Review"
    StepDescription="I'm a paragraph that describes this step in the process. I should be between three and five sentences. And I should be in written the the first-person."
  />
</div>

<div class="carousel-item dn">
  <!-- Step 4 -->
  <CarouselArticle
    ProcessStep="4. Close"
    StepDescription="I'm a paragraph that describes this step in the process. I should be between three and five sentences. And I should be in written the the first-person."
  />
</div>

<!-- BUTTONS -->

<CarouselButtons />
