---
const { ProcessStep, StepDescription } = Astro.props;
---

<style>
  article {
    background-color: var(--primary);
    border-top-left-radius: 0 !important; /* Not sure why, but this doesn't take effect without the !important declaration in this case... */
  }

  button:nth-child(1) {
    background-color: var(--primary);
    border-bottom-right-radius: 0;
  }

  button:nth-child(2) {
    background-color: var(--primary);
    border-bottom-left-radius: 0;
  }
</style>

<article
  class="w-100 mw6 center flex justify-center items-center pa3 white br4 tl"
>
  <div>
    <h3 class="f5">{ProcessStep}</h3>
    <p class="lh-copy">{StepDescription}</p>
  </div>
</article>

<!-- TODO: Separate out the Carousel Buttons into their own component. -->
<div class="w4 center flex justify-center items-center h3">
  <button class="w2 h2 br2 bn flex items-center justify-center mt3 mh3 pointer">
    <i class="bi bi-chevron-left white"></i>
  </button>
  <button class="w2 h2 br2 bn flex items-center justify-center mt3 mh3 pointer">
    <i class="bi bi-chevron-right white"></i>
  </button>
</div>
