---
import CarouselArticle from "./CarouselArticle.astro";
import CarouselButtons from "./CarouselButtons.astro";
---

<!-- TODO: Come back to this with a fresh mind tomorrow. -->
<div class="carousel-item flex">
  <!-- Step 1 -->
  <CarouselArticle
    ProcessStep="1. Listen"
    StepDescription="Everything great in real estate starts with a good communication. Here I'll ask you some basic discovery questions to better understand what you're looking for."
  />
</div>

<div class="carousel-item dn">
  <!-- Step 2 -->
  <CarouselArticle
    ProcessStep="2. Search"
    StepDescription="With your requirements in hand, I'll get to work tapping into my local network and resources to present you a short list of properties I think best fit your unique set of criteria."
  />
</div>

<div class="carousel-item dn">
  <!-- Step 3 -->
  <CarouselArticle
    ProcessStep="3. Review"
    StepDescription="At this time, we'll meet to go over property options, arrange showings, and/or visit a broader list of options until we locate your dream property."
  />
</div>

<div class="carousel-item dn">
  <!-- Step 4 -->
  <CarouselArticle
    ProcessStep="4. Close"
    StepDescription="Once you select a property that you love, I'll assist you in taking care of the necessary contractual line items and proceedings to make it all officially yours!"
  />
</div>

<!-- BUTTONS -->

<CarouselButtons />
