---
---

<style>
  video {
    top: 25%;
    border-top-left-radius: 0 !important;
  }

  #form-drawer {
    left: 100%;
    /* left: 0; */
    transition-property: left;
    transition-duration: 250ms;
    background-color: var(--dark);
  }

  span.toggle {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: transform 250ms;
  }

  span::before {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    content: "";
    top: 28px;
    transition: transform 250ms;
  }

  span::after {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    content: "";
    top: 22px;
    transition-property: top, transform;
    transition-duration: 250ms;
  }

  span.isActive {
    background: none;
  }

  span.isActive::before {
    top: 0;
    transform: rotate(45deg);
  }

  span.isActive::after {
    top: -2px;
    transform: rotate(-45deg);
  }

  input {
    border-color: var(--dark);
  }

  input[type="submit"] {
    background-color: var(--primary);
    font-family: "Fivo Sans Medium", sans-serif;
  }
</style>

<script>
  let formDrawer = document.getElementById("form-drawer");
  let toggle = document.getElementById("toggle");

  toggle.addEventListener("click", function (event) {
    formDrawer.style.left = "100%";

    setTimeout(() => {
      formDrawer.classList.remove("flex");
      formDrawer.classList.add("dn");
    }, 200);

    document.body.classList.remove("overflow-hidden");
  });
</script>

<div
  id="form-drawer"
  class="w-100 h-100 fixed top-0 ph3 white overflow-scroll pb5 dn"
>
  <!-- top -->
  <div class="w-100 h4 flex justify-between items-end mb4">
    <div>
      <h5 class="ttu white tracked f6 mv3">Talk to me</h5>
    </div>

    <div id="toggle" class="flex items-center pointer pv3">
      <p class="white mv0 ttu f7">Close</p>
      <span class="toggle w-2 h-100 pl2 isActive"></span>
    </div>
  </div>

  <!-- body columns -->
  <div class="center">
    <div class="cf">
      <!-- video and form -->
      <div class="fl w-100 w-50-ns pv2 pr2-ns">
        <div class="pb4">
          <div style="padding:56.27% 0 0 0;position:relative;">
            <iframe
              src="https://player.vimeo.com/video/763621193?h=c76eb3f59f&badge=0&autopause=0&player_id=0&app_id=58479"
              frameborder="0"
              allow="fullscreen"
              allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              title="placeholder.mp4"></iframe>
          </div>

          <p class="transcript lh-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
            repudiandae nemo fugiat perferendis. Obcaecati vero sed quam quas
            doloribus esse facilis facere fugit labore earum, minima magnam
            aspernatur quis asperiores.
          </p>
        </div>

        <div>
          <form action="" class="flex flex-column">
            <label
              class="f4 flex justify-between items-center"
              for="first-name"
            >
              First name <span class="normal ttu f7 tracked">Required *</span>
            </label>
            <input
              type="text"
              name="first-name"
              id="first-name"
              class="pt1 pb3 mt1 mb4 ba b--white br2"
            />

            <label class="f4 flex justify-between items-center" for="last-name">
              Last name <span class="normal ttu f7 tracked">Required *</span>
            </label>
            <input
              type="text"
              name="last-name"
              id="last-name"
              class="pt1 pb3 mt1 mb4 ba b--white br2"
            />

            <label class="f4 flex justify-between items-center" for="email">
              Email address <span class="normal ttu f7 tracked">Required *</span
              >
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="pt1 pb3 mt1 mb4 ba b--white br2"
            />
          </form>
        </div>
      </div>

      <!-- general contact information -->
      <div class="fl w-100 w-50-ns pv2 pl2-ns">
        <div class="outline bg-white pv4"></div>
      </div>
    </div>
  </div>
</div>
