---
import ThankYouVideo from "../images/placeholder.mp4";
---

<style>
  video {
    border-top-right-radius: 0 !important;
  }
</style>

<div
  id="form-drawer"
  class="w-100 vh-100 bg-white z-999 justify-center pa3 absolute top-0 overflow-scroll dn"
>
  <div class="w-100 mw7 center">
    <a href="/">Back Home</a>

    <!-- video -->
    <div class="mt4">
      <video class="w-100 br4" controls width="268" src={ThankYouVideo}></video>
    </div>

    <h2 class="f3 f2-ns lh-title">Kevares Morgan's Contact Form Modal Title</h2>

    <p class="f4-ns lh-copy">
      The transcript of what Kevares says in the video. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Ab saepe mollitia iusto delectus
      consequatur, voluptatum magni similique vero reiciendis consequuntur ipsum
      qui culpa placeat, ducimus ad praesentium molestias aut eius.
    </p>

    <form action=""></form>
  </div>
</div>
