---
import ThankYouVideo from "../images/placeholder.mp4";
---

<style>
  video {
    top: 25%;
  }

  #form-drawer {
    left: 100%;
    /* left: 0; */
    transition-property: left;
    transition-duration: 250ms;
    background-color: var(--dark);
    background-image: url("../images/k-motif.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80em;
  }

  span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: transform 250ms;
  }

  span::before {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    content: "";
    top: 28px;
    transition: transform 250ms;
  }

  span::after {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    content: "";
    top: 22px;
    transition-property: top, transform;
    transition-duration: 250ms;
  }

  span.isActive {
    background: none;
  }

  span.isActive::before {
    top: 31px;
    transform: rotate(45deg);
  }

  span.isActive::after {
    top: 31px;
    transform: rotate(-45deg);
  }

  input {
    border-color: var(--dark);
  }

  input[type="submit"] {
    background-color: var(--primary);
    font-family: "Fivo Sans Medium", sans-serif;
  }
</style>

<script>
  let formDrawer = document.getElementById("form-drawer");
  let toggle = document.getElementById("toggle");

  toggle.addEventListener("click", function (event) {
    formDrawer.style.left = "100%";

    setTimeout(() => {
      formDrawer.classList.remove("flex");
      formDrawer.classList.add("dn");
    }, 200);

    document.body.classList.remove("overflow-hidden");
  });
</script>

<div id="form-drawer" class="w-100 h-100 bg-white fixed top-0">
  <!-- top -->
  <div class="w-100 h3 absolute top-0">
    <span id="toggle" class="w-2 h-100 pl2 pr3 fr isActive pointer"></span>

    <div class="w-100 h2 flex items-end">
      <h4 class="white w-100 pl4 ttu tracked mv1">Talk to me</h4>
    </div>
  </div>

  <!-- video -->
  <!-- TODO: Figure this out -->
</div>
