---
import Portrait from "../images/kevares-morgans-portrait.png";
const { ImageDescription } = Astro.props;
---

<style>
  span {
    font-family: "Fivo Sans Medium", sans-serif;
  }

  p {
    top: 30px;
    left: 30px;
    margin-left: 30px;
    transform: rotate(90deg);
    transform-origin: 0 0;
    white-space: nowrap;
  }

  img {
    top: 5px;
    left: 9%;
    width: 100%;
  }

  .portrait-container {
    background-color: var(--primary);
    left: 33px;
    border-top-left-radius: 0;
  }
</style>

<div>
  <p class="f6 relative ml0 w5">
    <span>Kevares Morgan</span> &mdash; Realtor&reg;
  </p>

  <div class="portrait-container relative br4 w-80">
    <img class="relative" src={Portrait} alt={ImageDescription} />
  </div>
</div>
