---
const { ButtonText } = Astro.props;
---

<style>
  a {
    font-family: "Fivo Sans Medium", sans-serif;
    font-weight: 500;
    background-color: var(--primary);
    width: 10rem;
    height: 3.125rem;
  }
</style>

<a
  class="link white tc bn br4 flex justify-center items-center ttu tracked"
  href=""
>
  {ButtonText}
</a>
