---
const { ButtonText } = Astro.props;
---

<style>
  button {
    font-family: "Fivo Sans Medium", sans-serif;
    font-weight: 500;
    background-color: var(--primary);
    width: 10rem;
    height: 3.125rem;
  }
</style>

<button class="tc white bn br4 mv2">
  <a class="link white" href="">
    {ButtonText}
  </a>
</button>
