---
import AtIcon from "../images/at-icon.svg";
import PhoneIcon from "../images/phone-icon.svg";
import InstagramIcon from "../images/instagram-icon.svg";
---

<footer class="h4 flex justify-center items-center">
  <div>
    <div class="fl w-third pa4 tc">
      <!-- email -->
      <a class="link" href="">
        <img src={AtIcon} alt="" width="24" />
      </a>
    </div>

    <div class="fl w-third pa4 tc">
      <!-- phone -->
      <a class="link" href="">
        <img src={PhoneIcon} alt="" width="24" />
      </a>
    </div>

    <div class="fl w-third pa4 tc">
      <!-- Instagram -->
      <a class="link" href="">
        <img src={InstagramIcon} alt="" width="24" />
      </a>
    </div>
  </div>
</footer>
