---
import Logo from "../images/logo-coquelicot.svg";
import AtIcon from "../images/at-icon.svg";
import PhoneIcon from "../images/phone-icon.svg";
import InstagramIcon from "../images/instagram-icon.svg";
---

<style>
  .logo {
    max-width: 16.75rem;
  }

  i {
    color: var(--dark);
  }

  a {
    color: var(--dark);
  }

  span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--dark);
    transition: transform 250ms;
  }

  span::before {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--dark);
    content: "";
    top: 56px;
    transition: transform 250ms;
  }

  span::after {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--dark);
    content: "";
    top: 49px;
    transition-property: top, transform;
    transition-duration: 250ms;
  }

  span.isActive {
    background: none;
  }

  span.isActive::before {
    top: 56px;
    transform: rotate(45deg);
  }

  span.isActive::after {
    top: 56px;
    transform: rotate(-45deg);
  }

  #mobile-menu {
    height: 0;
    transition: height 250ms;
  }

  @media screen and (max-width: 729px) {
    nav#desktop-navigation {
      display: none;
    }
  }

  @media screen and (min-width: 730px) {
    nav#mobile-navigation-button {
      display: none;
    }

    nav#desktop-navigation {
      display: flex;
    }

    /* Position adjustment to align logo better with links items */
    a {
      top: 3px;
    }
  }
</style>

<script>
  // Mobile Navigation Variables
  let mobileNavButton = document.getElementById("mobile-navigation-button");
  let mobileMenu = document.getElementById("mobile-menu");
  let hamburgerIcon = document.querySelector(
    "#mobile-navigation-button > div > span"
  );

  mobileNavButton.addEventListener("click", function (event) {
    // Step 1. Display mobile menu when visitor clicks the hamburger menu button
    if (mobileMenu.classList.contains("dn")) {
      hamburgerIcon.classList.add("isActive");
      mobileMenu.classList.remove("dn");

      // Step 1a. Lock the overflow on the body when mobile menu is active.
      document.body.classList.add("overflow-hidden");

      setTimeout(() => {
        mobileMenu.style.height = "100vh";
      }, 100);
    } else {
      // Step 2. Hide the mobile menu when visitor clicks the hamburger menu button
      hamburgerIcon.classList.remove("isActive");
      mobileMenu.style.height = "0";

      // Step 2a. Unlock the overflow on the body when mobile menu is not active.
      document.body.classList.remove("overflow-hidden");

      setTimeout(() => {
        mobileMenu.classList.add("dn");
      }, 100);
    }
  });

  // Step 3. Hide the mobile menu when a visitor clicks somewhere on the mobile menu element or any of its child elements
  mobileMenu.addEventListener("click", function (event) {
    hamburgerIcon.classList.remove("isActive");
    mobileMenu.style.height = "0";

    // Step 3a. Unlock the overflow on the body when mobile menu is not active.
    document.body.classList.remove("overflow-hidden");

    setTimeout(() => {
      mobileMenu.classList.add("dn");
    }, 300);
  });
</script>

<header class="h4 flex justify-between items-center ph3 mw8 center">
  <a class="relative" href="/"
    ><img
      class="logo w-70 w-60-ns"
      width="150"
      src={Logo}
      alt="Kevares Morgan's Stylized 'K' logo"
    />
  </a>

  <!-- Mobile Navigation -->
  <nav id="mobile-navigation-button" class="flex items-center w2 h2">
    <div>
      <span></span>
    </div>
  </nav>

  <!-- Tablet/Desktop Navigation -->
  <nav id="desktop-navigation" class="items-center">
    <ul class="list pl0">
      <li class="dib ph3">
        <a class="link dim" href="/#about">About</a>
      </li>
      <li class="dib ph3">
        <a class="link dim" href="/#specialties">Specialties</a>
      </li>
      <li class="dib ph3">
        <a class="link dim" href="/#process">Process</a>
      </li>
      <li class="dib ph3">
        <a class="link dim" href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<!-- Mobile Navigation Offcanvas Menu -->
<div id="mobile-menu" class="bg-white z-9999 overflow-hidden dn">
  <menu class="list pl0 flex justify-center flex-column tc f2 mt0">
    <li class="pv3">
      <a class="link" href="#about">About</a>
    </li>
    <li class="pv3">
      <a class="link" href="#specialties">Specialties</a>
    </li>
    <li class="pv3">
      <a class="link" href="#process">Process</a>
    </li>
    <li class="pv3">
      <a class="link" href="#contact">Contact</a>
    </li>
  </menu>

  <div class="mt4 flex justify-center items-center">
    <div class="ph3">
      <!-- email -->
      <a class="link" href="">
        <img src={AtIcon} alt="" width="24" />
      </a>
    </div>

    <div class="ph3">
      <!-- phone -->
      <a class="link" href="">
        <img src={PhoneIcon} alt="" width="24" />
      </a>
    </div>

    <div class="ph3">
      <!-- Instagram -->
      <a class="link" href="">
        <img src={InstagramIcon} alt="" width="24" />
      </a>
    </div>
  </div>
</div>
