---
import "../style.css";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Favicon from "../images/favicon.png";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={Favicon} type="image/x-icon" />
    <SEO
      title="Kevares Morgan | SoFlo Real Estate Sales, Luxury Residential and Commercial Sales Licensed Realtor©"
      description="Kevares Morgan is a Florida-licensed real estate sales professional and Realtor© specializing in the sale of residential and commercial property in South Florida."
    />
  </head>
  <body>
    <SiteHeader />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
